body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1{
  font-family: 'Roboto', sans-serif;
}

.siteBanner h1 {
  font-size: 84px;
  font-weight: 600;
  text-align:center;
  font-family: 'Roboto Slab', serif;
  margin:10px;
  margin-top: 20px;
}

.siteBanner {
  background-color: #434044;
  color: #DDDDDD;
  padding: 5px;
}

.navbar {
  background-color: #434044;
  width: 100%;
  border-radius: 0px;
}

.inputPlayer {
  background-color: gray;
}

.inputEnemy {
  background-color: tomato;
}

.battleText {
  background-color: yellow;
}

.setStats {
  background-color: blue;
  margin-left:auto;
  margin-right:auto;
  border-top: 1px black solid;
}

.setStats div{
  background-color: green;
  padding:5px;
  margin:5px;
  text-align: center;
  font-size: 18px;
  margin-top:auto;
  margin-bottom:auto;
}

.setStats md-select {
  /*display: inline-block;*/
  border: 1px black solid;
  margin:5px;
}

.setStats input {
  max-width: 60px;
}

.setAttacks {
  background-color: green;
  padding:10px;
  margin:10px;
  text-align: center;
  font-size: 18px;
  margin-top:auto;
  margin-bottom:auto;
}

.setAttacks span{
  margin-right: 20px;
}

.setAttacks md-radio-button{
  margin-top:auto;
  margin-bottom:auto;
}
