<div class="siteBanner">
  <h1>devTool: Battle Simulator</h1>
  <button type="button" name="button" ng-click="uc.test()">TEST</button>
  <button style="float:right" type="button" name="button" ng-click="uc.battle(uc.testPlayer, uc.testEnemy)">SIMULATE ENCOUNTER</button>
</div>


<div layout="row">
  <div flex="50" layout="column" class="inputPlayer">

      <h2>PLAYER<span ng-if="uc.testPlayer.wins == true"> (WINNER)</span></h2>

    <div layout="row" flex class="setStats">
      <div>
        <span>LVL:</span>
        <md-select ng-model="uc.testPlayer.lvl" ng-init="uc.testPlayer.lvl=1" class="md-no-underline">
          <md-option ng-repeat="lvlVal in uc.lvlArray" ng-value="lvlVal">{{lvlVal}}</md-option>
        </md-select>
      </div>
      <div>
        <span>STR:</span>
        <md-select ng-model="uc.testPlayer.str" ng-init="uc.testPlayer.str=20" class="md-no-underline">
          <md-option ng-repeat="strVal in uc.statArray" ng-value="strVal">{{strVal}}</md-option>
        </md-select>
      </div>
      <div>
        <span>DEX:</span>
        <md-select ng-model="uc.testPlayer.dex" ng-init="uc.testPlayer.dex=20" class="md-no-underline">
          <md-option ng-repeat="dexVal in uc.statArray" ng-value="dexVal">{{dexVal}}</md-option>
        </md-select>
      </div>
      <!-- <div>
        <span>INT:</span>
        <md-select ng-model="uc.testPlayer.int" ng-init="uc.testPlayer.int=20" class="md-no-underline">
          <md-option ng-repeat="intVal in uc.statArray" ng-value="intVal">{{intVal}}</md-option>
        </md-select>
      </div>
      <div>
        <span>WIS:</span>
        <md-select ng-model="uc.testPlayer.wis" ng-init="uc.testPlayer.wis=20" class="md-no-underline">
          <md-option ng-repeat="wisVal in uc.statArray" ng-value="wisVal">{{wisVal}}</md-option>
        </md-select>
      </div> -->
      <div>
        <span>CON:</span>
        <md-select ng-model="uc.testPlayer.con" ng-init="uc.testPlayer.con=20" class="md-no-underline">
          <md-option ng-repeat="conVal in uc.statArray" ng-value="conVal">{{conVal}}</md-option>
        </md-select>
      </div>
      <div layout="column">
        <div class="">
          <span>HP:</span>
          <input type="number" ng-model="uc.testPlayer.hp" ng-init="uc.testPlayer.hp=40">
        </div>
        <div class="">
          <span>AC:</span>
          <input type="number" ng-model="uc.testPlayer.ac" ng-init="uc.testPlayer.ac=5">
        </div>
      </div>

    </div> <!-- end stats row -->


    <div class="setAttacks">
      <md-radio-group layout="row" ng-model="uc.testPlayer.numberOfAttacks" ng-init="uc.testPlayer.numberOfAttacks=1">
        <span>Number of attacks:</span>
        <md-radio-button value="1" class="md-primary">1</md-radio-button>
        <md-radio-button value="2" class="md-primary">2</md-radio-button>
        <md-radio-button value="3" class="md-primary">3</md-radio-button>
        <md-radio-button value="4" class="md-primary">4</md-radio-button>
      </md-radio-group>
    </div>
  </div> <!-- End Player Column -->

  <div flex="50" layout="column" class="inputEnemy">

      <h2>ENEMY<span ng-if="uc.testEnemy.wins == true"> (WINNER)</span></h2>

    <div layout="row" flex class="setStats">
      <div>
        <span>LVL:</span>
        <md-select ng-model="uc.testEnemy.lvl" ng-init="uc.testEnemy.lvl=1" class="md-no-underline">
          <md-option ng-repeat="lvlVal in uc.lvlArray" ng-value="lvlVal">{{lvlVal}}</md-option>
        </md-select>
      </div>
      <div>
        <span>STR:</span>
        <md-select ng-model="uc.testEnemy.str" ng-init="uc.testEnemy.str=20" class="md-no-underline">
          <md-option ng-repeat="strVal in uc.statArray" ng-value="strVal">{{strVal}}</md-option>
        </md-select>
      </div>
      <div>
        <span>DEX:</span>
        <md-select ng-model="uc.testEnemy.dex" ng-init="uc.testEnemy.dex=20" class="md-no-underline">
          <md-option ng-repeat="dexVal in uc.statArray" ng-value="dexVal">{{dexVal}}</md-option>
        </md-select>
      </div>
      <!-- <div>
        <span>INT:</span>
        <md-select ng-model="uc.testEnemy.int" ng-init="uc.testEnemy.int=20" class="md-no-underline">
          <md-option ng-repeat="intVal in uc.statArray" ng-value="intVal">{{intVal}}</md-option>
        </md-select>
      </div>
      <div>
        <span>WIS:</span>
        <md-select ng-model="uc.testEnemy.wis" ng-init="uc.testEnemy.wis=20" class="md-no-underline">
          <md-option ng-repeat="wisVal in uc.statArray" ng-value="wisVal">{{wisVal}}</md-option>
        </md-select>
      </div> -->
      <div>
        <span>CON:</span>
        <md-select ng-model="uc.testEnemy.con" ng-init="uc.testEnemy.con=20" class="md-no-underline">
          <md-option ng-repeat="conVal in uc.statArray" ng-value="conVal">{{conVal}}</md-option>
        </md-select>
      </div>
      <div layout="column">
        <div class="">
          <span>HP:</span>
          <input type="number" ng-model="uc.testEnemy.hp" ng-init="uc.testEnemy.hp=40">
        </div>
        <div class="">
          <span>AC:</span>
          <input type="number" ng-model="uc.testEnemy.ac" ng-init="uc.testEnemy.ac=5">
        </div>
      </div>
    </div>

    <div class="setAttacks">
      <md-radio-group layout="row" ng-model="uc.testEnemy.numberOfAttacks" ng-init="uc.testEnemy.numberOfAttacks=1">
        <span>Number of attacks:</span>
        <md-radio-button value="1" class="md-primary">1</md-radio-button>
        <md-radio-button value="2" class="md-primary">2</md-radio-button>
        <md-radio-button value="3" class="md-primary">3</md-radio-button>
        <md-radio-button value="4" class="md-primary">4</md-radio-button>
      </md-radio-group>
    </div>
  </div>
</div> <!-- End enemy column -->

<div class="battleText" layout="column">
<div ng-repeat="event in uc.battleLog track by $index"><p>{{event}}</p></div>
</div>
